.form {
  background: #fff;
  border: 2px #00735C solid;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 1em 1em;
}

@media (min-width: 768px) {
  .form {
    width: 50%;
  }
}