html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #C1D9B7; */
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  list-style: none;
  padding: 0em;
  margin: 0em;
}

*::-webkit-scrollbar {
  background-color: #012440;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #06866c;
  border-radius: 50px;
}